openapi: "3.1.0"
info:
  title: imajin learn
  version: "1.1.0"
  description: >
    Course creation, enrollment, and lesson-progress tracking. Creators build
    courses with modules and lessons; students enroll (free or paid) and mark
    progress. A standalone third-party app on Imajin (ima-jin/learn): callers
    authenticate with a scoped app token minted for this app's host, or — as a
    migration fallback — the kernel session cookie. Callers always act as their
    own DID. `learn.enrolled` / `learn.completed` events are emitted
    best-effort to the kernel's public attestation API.

    Served by the app itself at /api/spec.

servers:
  - url: https://learn.imajin.ai
    description: production
  - url: https://dev-learn.imajin.ai
    description: dev
  - url: http://localhost:3000
    description: local

tags:
  - name: learn

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: imajin_session
      description: >
        Migration fallback: the kernel's shared session cookie, validated
        against the kernel. Carries no scopes.
    webhookAuth:
      type: http
      scheme: bearer
      description: >
        Server-to-server only: the kernel presents `Authorization: Bearer <secret>` where the secret is
        this app's `WEBHOOK_SECRET` (the kernel's `LEARN_WEBHOOK_SECRET`). Compared in constant time;
        with no secret configured every call is rejected.
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Preferred: a short-lived scoped app token minted by the kernel
        (`POST {kernel}/auth/api/tokens/app`) for this app's host as `aud`.
        A token minted for any other host is rejected. Tokens that fail
        verification fall through to the cookie path.
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
    Course:
      type: object
      properties:
        id: { type: string }
        creatorDid: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        slug: { type: string }
        price: { type: integer, description: "Price in minor currency units (0 = free)" }
        currency: { type: string, default: CAD }
        visibility: { type: string, enum: [public, private, trust] }
        status: { type: string, enum: [draft, published, archived] }
        imageUrl: { type: string, nullable: true }
        imageAssetId: { type: string, nullable: true }
        tags: { type: array, items: { type: string } }
        metadata: { type: object }
        courseType: { type: string, nullable: true }
        eventSlug: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    CourseListItem:
      allOf:
        - $ref: "#/components/schemas/Course"
        - type: object
          properties:
            moduleCount: { type: integer }
            lessonCount: { type: integer }
    Module:
      type: object
      properties:
        id: { type: string }
        courseId: { type: string }
        title: { type: string }
        description: { type: string, nullable: true }
        sortOrder: { type: integer }
    Lesson:
      type: object
      properties:
        id: { type: string }
        moduleId: { type: string }
        title: { type: string }
        contentType: { type: string, enum: [markdown, video, embed], description: "Defaults to markdown" }
        content: { type: string, nullable: true }
        durationMinutes: { type: integer, nullable: true }
        sortOrder: { type: integer }
        metadata: { type: object }
    Enrollment:
      type: object
      properties:
        id: { type: string }
        courseId: { type: string }
        studentDid: { type: string }
        paymentId: { type: string, nullable: true }
        enrolledAt: { type: string, format: date-time }
        completedAt: { type: string, nullable: true, format: date-time }
    Progress:
      type: object
      properties:
        total: { type: integer }
        completed: { type: integer }
        percentage: { type: integer }

paths:
  /api/health:
    get:
      operationId: getLearnHealth
      summary: Health check
      tags: [learn]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  service: { type: string, example: learn }
                  timestamp: { type: string, format: date-time }
                  claimed:
                    type: boolean
                    description: >
                      False in unclaimed boot mode (#2427) — this app has no
                      signing identity yet. See /claim.

  /api/webhook:
    post:
      operationId: postPaidCheckoutWebhook
      summary: Paid checkout notification from the kernel (creates the enrollment)
      description: >
        Called by the kernel's pay service when a course-enrollment checkout is paid. Authenticated with
        a Bearer secret (not a user session). Only a payment the kernel settled on the course creator's
        own Stripe account (`rail: stripe-byo`) enrolls: the kernel-attested top-level `sellerDid` must
        be the course's creator and the amount collected must cover the course price in the course's
        currency. Idempotent — a redelivery returns the existing enrollment (200) instead of creating
        a second one (201). Any other event, or a payment on another rail, is acknowledged (200,
        `enrolled: false`) without enrolling anyone.
      tags: [learn]
      security:
        - webhookAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, example: payment.succeeded }
                sessionId: { type: string, description: Stripe Checkout session id }
                paymentId: { type: string, description: Stripe payment intent id }
                rail: { type: string, example: stripe-byo }
                sellerDid:
                  type: string
                  description: >
                    Kernel-attested DID whose own Stripe account collected the payment. Unlike
                    `metadata.sellerDid`, the checkout caller cannot choose it.
                metadata:
                  type: object
                  properties:
                    courseId: { type: string }
                    studentDid: { type: string }
                    amount: { type: integer, description: "Amount collected, minor units" }
                    currency: { type: string, example: CAD }
      responses:
        "200":
          description: Acknowledged — already enrolled (replay), or nothing to enroll
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean, example: true }
                  enrolled: { type: boolean }
                  created: { type: boolean, example: false }
                  enrollmentId: { type: string }
        "201":
          description: Enrollment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean, example: true }
                  enrolled: { type: boolean, example: true }
                  created: { type: boolean, example: true }
                  enrollmentId: { type: string }
        "400":
          description: Malformed body, or `metadata.courseId` / `metadata.studentDid` missing
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Missing or wrong Bearer secret, or no secret configured
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: The payment was not collected on the course creator's own Stripe account
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: The amount collected does not cover the course price
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Processing failed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/claim:
    post:
      operationId: postClaim
      summary: Redeem this app's one-time claim code (operator-only, unclaimed boot mode)
      description: >
        Backs the operator-facing /claim page. Exchanges the one-time claim
        code from the kernel's /jin approval card for this app's signing
        key, persists the local bootstrap keystore, and hot-swaps the
        in-memory signing identity. Returns 404 once this app has already
        been claimed.
      tags: [learn]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [claimCode]
              properties:
                claimCode: { type: string }
      responses:
        "200":
          description: Claim redeemed
          content:
            application/json:
              schema:
                type: object
                properties:
                  appDid: { type: string }
                  publicKey: { type: string, nullable: true }
        "400":
          description: Invalid or refused claim code
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: This app has already been claimed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: Too many claim attempts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses:
    get:
      operationId: listCourses
      summary: List published courses (public discovery)
      description: >
        Returns published courses. By default only public-visibility courses
        are shown unless `creator_did` is specified.
      tags: [learn]
      parameters:
        - name: creator_did
          in: query
          schema: { type: string }
          description: Filter by creator DID (shows all visibility for that creator)
        - name: status
          in: query
          schema: { type: string, default: published }
          description: Filter by course status
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Paginated course list
          content:
            application/json:
              schema:
                type: object
                properties:
                  courses:
                    type: array
                    items: { $ref: "#/components/schemas/CourseListItem" }
                  limit: { type: integer }
                  offset: { type: integer }
    post:
      operationId: createCourse
      summary: Create a new course
      description: Any authenticated caller; the caller becomes the course's creator and acts as their own DID.
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                description: { type: string }
                slug: { type: string, description: "Auto-generated from title if omitted" }
                price: { type: integer, description: "Price in minor currency units (0 = free)" }
                currency: { type: string, default: CAD }
                visibility: { type: string, enum: [public, private, trust], default: public }
                imageUrl: { type: string }
                imageAssetId: { type: string }
                tags: { type: array, items: { type: string } }
                metadata: { type: object }
      responses:
        "201":
          description: Course created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Course" }
        "400":
          description: Validation error, or a request body that is not a valid JSON object
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: Slug already exists
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}:
    get:
      operationId: getCourse
      summary: Get course detail with modules and lessons
      description: >
        Public endpoint. Auth is optional — if authenticated, enrollment status
        and progress are included. Creators see full lesson content and metadata.
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
        - {}
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Course detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Course"
                  - type: object
                    properties:
                      modules:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/Module"
                            - type: object
                              properties:
                                lessons:
                                  type: array
                                  items: { $ref: "#/components/schemas/Lesson" }
                      enrollment:
                        nullable: true
                        allOf:
                          - $ref: "#/components/schemas/Enrollment"
                          - type: object
                            properties:
                              progress: { $ref: "#/components/schemas/Progress" }
                      isCreator: { type: boolean }
                      isAuthenticated: { type: boolean }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    patch:
      operationId: updateCourse
      summary: Update course fields (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                description: { type: string }
                slug: { type: string }
                price: { type: integer }
                currency: { type: string }
                visibility: { type: string, enum: [public, private, trust] }
                status: { type: string, enum: [draft, published, archived] }
                imageUrl: { type: string }
                imageAssetId: { type: string }
                tags: { type: array, items: { type: string } }
                metadata: { type: object }
                eventSlug: { type: string }
                courseType: { type: string }
      responses:
        "200":
          description: Updated course
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Course" }
        "400":
          description: No fields to update, or a request body that is not a valid JSON object
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      operationId: deleteCourse
      summary: Archive course (soft delete, owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Course archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/enroll:
    post:
      operationId: enrollInCourse
      summary: Enroll in a course (free) or initiate payment (paid)
      description: >
        For free courses, creates enrollment immediately (and seeds
        `not_started` progress for every lesson). For paid courses, opens a
        checkout session through the kernel's pay service and returns its
        redirect URL; the enrollment itself is not created by this call — the
        kernel notifies `POST /api/webhook` once the payment completes, and that
        creates it. When `successUrl` / `cancelUrl` are omitted they default to this
        app's course page (`/course/{slug}`; success adds `?paid=1`).
        The paid checkout is charged on the course creator's OWN Stripe account (their
        connected key; there is no Stripe Connect). A creator with no connected key gets
        400 with `code: SELLER_NO_CARD_RAIL`, and a creator whose Stripe account would
        not take the charge gets 502 with a `CARD_RAIL_*` code; both carry a plain
        student-facing `error`.
        On free enrollment a `learn.enrolled` attestation is emitted
        best-effort (only when the caller used an app token, and only if they
        have granted this app the matching delegation) — a failed emit never
        fails the enrollment.
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                successUrl:
                  type: string
                  description: Redirect URL after successful payment (paid courses only). Defaults to the course page with `?paid=1`.
                cancelUrl:
                  type: string
                  description: Redirect URL if payment is cancelled (paid courses only). Defaults to the course page.
      responses:
        "200":
          description: Already enrolled, or paid course checkout URL
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: Already enrolled
                    properties:
                      enrolled: { type: boolean, example: true }
                      enrollment: { $ref: "#/components/schemas/Enrollment" }
                  - type: object
                    description: Paid course — redirect to checkout
                    properties:
                      enrolled: { type: boolean, example: false }
                      checkoutUrl: { type: string }
        "201":
          description: Enrollment created (free course)
          content:
            application/json:
              schema:
                type: object
                properties:
                  enrolled: { type: boolean, example: true }
                  enrollment: { $ref: "#/components/schemas/Enrollment" }
        "400":
          description: >
            Course not available for enrollment, or the course creator has no card rail
            (`code: SELLER_NO_CARD_RAIL`)
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error: { type: string }
                  code:
                    type: string
                    example: SELLER_NO_CARD_RAIL
                    description: "Present when the creator has no card rail; the page hides the enroll button."
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "502":
          description: >
            Payment service error, or the course creator's Stripe account could not start the charge
            (`code` is then one of `CARD_RAIL_KEY_MISSING`, `CARD_RAIL_KEY_REJECTED`,
            `CARD_RAIL_UNAVAILABLE`, `CARD_RAIL_REQUEST_REJECTED`)
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error: { type: string }
                  code: { type: string, example: CARD_RAIL_UNAVAILABLE }
        "503":
          description: Payment service unreachable or not configured
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/progress:
    get:
      operationId: getCourseProgress
      summary: Get enrollment status and per-lesson progress
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Progress detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  enrollment:
                    type: object
                    properties:
                      id: { type: string }
                      enrolledAt: { type: string, format: date-time }
                      completedAt: { type: string, nullable: true, format: date-time }
                  progress: { $ref: "#/components/schemas/Progress" }
                  modules:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        title: { type: string }
                        total: { type: integer }
                        completed: { type: integer }
                        lessons:
                          type: array
                          items:
                            type: object
                            properties:
                              id: { type: string }
                              title: { type: string }
                              contentType: { type: string }
                              durationMinutes: { type: integer, nullable: true }
                              status: { type: string, enum: [not_started, in_progress, completed] }
                              completedAt: { type: string, nullable: true, format: date-time }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not enrolled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/students:
    get:
      operationId: listCourseStudents
      summary: List enrolled students with progress (course owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Student list with progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  courseTitle: { type: string }
                  totalStudents: { type: integer }
                  totalLessons: { type: integer }
                  students:
                    type: array
                    items:
                      type: object
                      properties:
                        studentDid: { type: string }
                        displayName: { type: string, nullable: true }
                        email: { type: string, nullable: true, description: "Always null: this app holds no service-scope credential, so the kernel's profile service never releases another user's email to it." }
                        handle: { type: string, nullable: true }
                        enrolledAt: { type: string, format: date-time }
                        completedAt: { type: string, nullable: true, format: date-time }
                        progress: { $ref: "#/components/schemas/Progress" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/lessons/{lessonId}/complete:
    post:
      operationId: completeLesson
      summary: Mark a lesson as complete
      description: >
        Marks the lesson as completed in the enrollment progress record.
        If all lessons are now complete, the enrollment is flagged as completed
        and a `learn.completed` attestation is emitted.
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: lessonId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Completion recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  lessonId: { type: string }
                  status: { type: string, example: completed }
                  completedAt: { type: string, format: date-time }
                  courseProgress: { $ref: "#/components/schemas/Progress" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not enrolled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course or lesson not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/modules:
    get:
      operationId: listModules
      summary: List modules for a course
      description: Public. Modules of a private course are only visible to its creator (404 otherwise).
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
        - {}
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Module list
          content:
            application/json:
              schema:
                type: object
                properties:
                  modules:
                    type: array
                    items: { $ref: "#/components/schemas/Module" }
        "404":
          description: Course not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    post:
      operationId: createModule
      summary: Add a module to a course (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                description: { type: string }
                sortOrder: { type: integer, description: "Auto-assigned if omitted" }
      responses:
        "201":
          description: Module created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Module" }
        "400":
          description: Title is required, or a request body that is not a valid JSON object
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/modules/reorder:
    patch:
      operationId: reorderModules
      summary: Reorder modules within a course (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order]
              properties:
                order:
                  type: array
                  items: { type: string }
                  description: Ordered array of module IDs
      responses:
        "200":
          description: Modules in new order
          content:
            application/json:
              schema:
                type: object
                properties:
                  modules:
                    type: array
                    items: { $ref: "#/components/schemas/Module" }
        "400":
          description: order must be an array
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/modules/{moduleId}:
    patch:
      operationId: updateModule
      summary: Update a module (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: moduleId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                description: { type: string }
                sortOrder: { type: integer }
      responses:
        "200":
          description: Updated module
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Module" }
        "400":
          description: No fields to update, or a request body that is not a valid JSON object
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course or module not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      operationId: deleteModule
      summary: Delete a module and its lessons (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: moduleId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Module deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course or module not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/modules/{moduleId}/lessons:
    get:
      operationId: listLessons
      summary: List lessons in a module
      description: >
        Public. Private courses are only visible to their creator (404
        otherwise). In a paid course, callers who are neither the creator nor
        enrolled receive each lesson without `content`/`metadata`, with
        `content: null` and `locked: true`.
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
        - {}
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: moduleId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Lesson list
          content:
            application/json:
              schema:
                type: object
                properties:
                  lessons:
                    type: array
                    items: { $ref: "#/components/schemas/Lesson" }
        "404":
          description: Course not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    post:
      operationId: createLesson
      summary: Add a lesson to a module (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: moduleId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                contentType: { type: string, enum: [markdown, video, embed], default: markdown }
                content: { type: string }
                durationMinutes: { type: integer }
                sortOrder: { type: integer, description: "Auto-assigned if omitted" }
                metadata: { type: object }
      responses:
        "201":
          description: Lesson created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Lesson" }
        "400":
          description: Title is required, or a request body that is not a valid JSON object
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course or module not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/modules/{moduleId}/lessons/reorder:
    patch:
      operationId: reorderLessons
      summary: Reorder lessons within a module (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: moduleId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order]
              properties:
                order:
                  type: array
                  items: { type: string }
                  description: Ordered array of lesson IDs
      responses:
        "200":
          description: Lessons in new order
          content:
            application/json:
              schema:
                type: object
                properties:
                  lessons:
                    type: array
                    items: { $ref: "#/components/schemas/Lesson" }
        "400":
          description: order must be an array
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/courses/{slug}/modules/{moduleId}/lessons/{lessonId}:
    get:
      operationId: getLesson
      summary: Get lesson content
      description: >
        The lesson must belong to the given module of the given course. Private
        courses are only visible to their creator (404 otherwise). For paid
        courses, unauthenticated requests get 401; authenticated callers who
        are neither the creator nor enrolled receive metadata only with
        `content: null` and `locked: true`.
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
        - {}
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: moduleId
          in: path
          required: true
          schema: { type: string }
        - name: lessonId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Lesson (full or locked preview)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Lesson"
                  - type: object
                    properties:
                      locked: { type: boolean, description: "True when content is withheld due to paywall" }
        "401":
          description: Authentication required for paid course
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course or lesson not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    patch:
      operationId: updateLesson
      summary: Update a lesson (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: moduleId
          in: path
          required: true
          schema: { type: string }
        - name: lessonId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                contentType: { type: string, enum: [markdown, video, embed] }
                content: { type: string }
                durationMinutes: { type: integer }
                sortOrder: { type: integer }
                metadata: { type: object }
      responses:
        "200":
          description: Updated lesson
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Lesson" }
        "400":
          description: No fields to update, or a request body that is not a valid JSON object
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course or lesson not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      operationId: deleteLesson
      summary: Delete a lesson (owner only)
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
        - name: moduleId
          in: path
          required: true
          schema: { type: string }
        - name: lessonId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Lesson deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the course owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Course not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/my/courses:
    get:
      operationId: myEnrolledCourses
      summary: List courses the authenticated user is enrolled in
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Enrolled courses with progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  courses:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/Course"
                        - type: object
                          properties:
                            enrollment:
                              type: object
                              properties:
                                id: { type: string }
                                enrolledAt: { type: string, format: date-time }
                                completedAt: { type: string, nullable: true, format: date-time }
                            progress: { $ref: "#/components/schemas/Progress" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/my/teaching:
    get:
      operationId: myTeachingCourses
      summary: List courses the authenticated user created
      tags: [learn]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: Created courses with enrollment and content counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  courses:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/Course"
                        - type: object
                          properties:
                            enrollmentCount: { type: integer }
                            moduleCount: { type: integer }
                            lessonCount: { type: integer }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/me:
    get:
      operationId: getMe
      summary: Return the signed-in caller's DID
      description: Reads the app's own "Sign in with Imajin" session cookie (`@ima-jin/auth-client`).
      tags: [learn]
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The caller's DID
          content:
            application/json:
              schema:
                type: object
                properties:
                  did: { type: string }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/auth/session:
    get:
      operationId: getAuthSession
      summary: Current "Sign in with Imajin" session
      description: Handler from `@ima-jin/auth-client` (`createSessionHandler`).
      tags: [learn]
      responses:
        "200":
          description: Session state
          content:
            application/json:
              schema: { type: object }

  /api/auth/callback:
    get:
      operationId: authCallback
      summary: Kernel redirect target for "Sign in with Imajin"
      description: Handler from `@ima-jin/auth-client` (`createCallbackHandler`); sets the session cookie and redirects.
      tags: [learn]
      responses:
        "302":
          description: Redirect after sign-in

  /api/auth/logout:
    post:
      operationId: authLogout
      summary: Sign out
      description: Handler from `@ima-jin/auth-client` (`createLogoutHandler`); clears the session cookie.
      tags: [learn]
      responses:
        "200":
          description: Signed out

  /api/spec:
    get:
      operationId: getLearnSpec
      summary: Serve this OpenAPI spec
      tags: [learn]
      responses:
        "200":
          description: OpenAPI YAML
          content:
            text/yaml:
              schema: { type: string }
